#hero {
  height: 800px;
  background-image: url("../images/LED.jpg");
  background-position: center;
  background-size: cover; 
  display: flex;
  flex-direction: column;
}

/* #profile img{
  width: 200px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  background-color: ;
  border-radius: 100px;
  padding: 0;
  margin: 0 auto;
  justify-content: center;
  position: absolute;
  top: 300px;
} */

#hero-content {
  width: 900px;
  box-shadow: 2px 4px 8px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  position: relative;
  top: 200px;
}

#hero-content h1 {
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

#hero-content p {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 32px;
}

#quotes {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 32px;
  text-align: center;
}

#hero-content a {
  text-decoration: none;
  background-color: white;
  padding: 12px 24px;
  color: black;
  font-size: 24px;
  font-weight: 700;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

#hero-content a:hover {
  background-color: rgba(255, 255, 255, 0.877);
}

#highlights {
  padding: 24px;
  background: linear-gradient(0deg, rgb(24, 24, 24), rgb(20, 33, 150));
}

#highlights h2 {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  margin: 24px 0;
}

#highlights p {
  text-transform: uppercase;
  font-size: 24px;
  color: white;
  margin: 20px 0;
}

#highlights strong {
  color: rgb(89, 126, 175);
}

#destinations {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
  justify-content: center;
  padding: 0;
}

.destination img {
  height: 200px;
  width: 400px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  object-fit: cover;
  border-radius: 10px;
}

.destination {
  list-style: none;
  margin: 0 20px;
}